header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #212c61;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #212c61 solid 1px;
}

/* Logo style */
.logo {
  top: 1vh;
  left: auto;
  position: fixed;
  max-height: 7vh; /* Ensure logo fits within header height */
}

/* Style for the menu button */
header button.toggleButton {
  font-size: large;
  height: 10vh;
  margin-left: 20px; /* Space between menu button and logo */
  border: none;
  background-color: transparent;
  color: white;
  padding: 4px;
  cursor: pointer;
  transition: ease-in all 0.2s;
}

/* Hover state for menu button */
header button.toggleButton:hover {
  color: #faa71c;
  background-color: transparent;
}

/* Search container */
.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Space between search container and logo */
}

/* Style for the search input field */
.searchInput {
  padding: 5px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: small;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: #faa71c;
}

/* Style for the search button */
.searchButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: large; /* Adjust as needed */
}

/* Styling for search results dropdown */
.searchResults {
  position: fixed;
  top: 10vh;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: scroll;
  z-index: 10;
  width: 20vw;
}

.searchResults a {
  font-family: sans-serif;
  text-decoration: none;
  border: #212c61 solid 1px;
  padding: 5px;
  color: #212c61;
  transition: all ease-in 0.1s;
}

.searchResults a:hover {
  background-color: #faa71c;
}
