.flex {
  display: flex;
}
.flex-w {
  display: flex;
  flex-wrap: wrap;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.centred {
  width: 100%;
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
